.fa-arrow-left{
    position: absolute;
    top: 17px;
    left: 17px;
}

.btn{
    background: linear-gradient(to top, $primary-color, $secondary-color);
    border-radius: 30px;
    border: none;
    width: 218px;
    height: 50px;
    color: $text-btn-color;
    box-shadow: 0px 4px 10px #00000059;
    transition: opacity;
    transition-duration: 0.5s;
    margin: 30px;
    &:hover {
        opacity: 75%; 
        box-shadow: 0px 4px 15px #00000059;
    }
}

.btn_search{
    display: none;
}

.hearts{
    position: absolute;
    left: 82%;
    bottom: 54px;
    font-size: 1.2em;
}

.hearts_restaurants{
    position: relative;
    bottom: 57px;
    left: 33%;
    font-size: 1.2em;
}

.full{
    background: #9356DC;
    background: linear-gradient(180deg, #9356DC 25%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 5%;
    opacity: 0;
    transition: .5s ease-in-out;
}

.empty{
    position: absolute;
    left: 5%;
    opacity: 1;
    transition: .5s ease-in-out;
}

.hearts:hover, .hearts_restaurants:hover{
    .full{
        opacity: 1;
        transition: .5s ease-in-out;        
    }

    .empty{
        opacity: 0;
        transition: .5s ease-in-out;
    }
}


.starter_card:hover, .dish_card:hover, .dessert_card:hover{
    .check, .price{
        transition: .3s ease-in-out;
        transform: translateX(-59px);
    }
} 

.check{
    background-color: $underline-color;
    width: 59px;
    height: 79px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 437px;
    bottom: 74px;
    transition: 0.5s ease-in-out;
}

.price{
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
    .hearts_restaurants{
        position: relative;
        bottom: 57px;
        left: 28%;
    }

    .check{
        position: relative;
        left: 753px;
        bottom: 74px;
    }

    .starter_card:hover, .dish_card:hover, .dessert_card:hover{
        .check, .price{
            transition: .3s ease-in-out;
            transform: translateX(-77px);
        }
    }
}