@media screen and (max-width: 767.98px){
    @mixin restaurants_cards{
        box-shadow: (0px 3px 15px rgba(0, 0, 0, 0.1));
        background-color: $background-color-cards;
        border-radius: 15px;
        width: 80%;
        height: 69px;
        display: flex;
        flex-direction: column;
        line-height: 0;
        padding: 5px 15px 5px 15px;
        margin: 30px;
        animation: menus-restaurants 1250ms;
        @keyframes menus-restaurants{
            0% {
                opacity: .0;
            }
            17% {
                opacity: 0.2;
            }
            24% {
                opacity: 0.4;
            }
            46% {
                opacity: 0.6;
            }
            85% {
                opacity: 0.8;
            }

            100% {
                opacity: 1;
            }

        }
        
    }


    .cards{
        border-radius: 20px;
        box-shadow: (0px 3px 15px rgba(0, 0, 0, 0.1));
        width: 340px;
        height: 251px;
        gap: 15px;
        margin-bottom: 30px;
    }

    nav{
        border-radius: 20px;
        box-shadow: (0px 3px 15px rgba(0, 0, 0, 0.1));
        width: 322px;
        height: 72px;
        display: flex;
        align-items: center;
        gap: 25px;
        margin: 20px;
        background-color: $background-color-grey;
    }

    .starter, .dish, .dessert{
        width: 98%
    }

    .starter_card{
        @include restaurants_cards;
    }

    .dish_card{
        @include restaurants_cards;
    }

    .dessert_card{
        @include restaurants_cards;
    }

    .txt_card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}