@mixin cards{
    border-radius: 20px;
    box-shadow: (0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 340px;
    height: 251px;
    gap: 15px;
    margin-bottom: 30px;
}


.cards{
    @include cards;
}

menu{
    border-radius: 20px;
    box-shadow: (0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 322px;
    height: 72px;
    display: flex;
    align-items: center;
    gap: 25px;
}