.logo{
    width: 197px;
    height: 36px;
    margin-bottom: 15px;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store{
    color: $icon-color;
}

.fa-mobile-screen-button:hover, .fa-list-ul:hover, .fa-store:hover{
    color: $primary-color;
}

.number, .fa-2, .fa-3{
    border: 1px solid $primary-color;
    border-radius: 20px;   
    width: 24px;
    height: 24px;
    background-color: $primary-color;
    margin: -12px;  
}

.number_fonctionnement{
    font-family: $font-primary;
    font-weight: 500;
    font-size: 14px;
    color: $text-btn-color;
    margin-left: 7px;
    margin-top: 4px;

}

.new{
    border: 1px solid $underline-color;
    border-radius: 3px;
    width: 80px;
    height: 29px;
    color: $new-txt-color;
    background-color: $underline-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    font-weight: 500;
    top: 13px;
}

.fa-circle-check{
    color: white;
}

@media only screen and (min-width: 768px) {
    .new{
    position: absolute;
    top: 13px;
    right: 5%;
    }
 } 


