@media screen and (max-width: 767.98px){
    a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-family: $font-primary;
    }

    .txt_info{
        text-align: center;
        padding: 15px;
    }

    .title_homepage{
        font-family: $font-primary;
        font-weight: 700;
    }

    .txt_cards_homepage{
        margin: 13px;
        line-height: 10px;
    }

    .txt_card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .restaurants_name_homepage{
        font-family: $font-primary;
        font-weight: 300;
        font-size: 17px;
    }

    .titre_relou{
        font-family: $font-title;
    }

    .title_restaurants{
        font-family: $font-primary;
        font-weight: 300;
        font-size: 18px;
        border-bottom: 3px solid $underline-color;
        width: 40px;
    }

    footer,li{
        list-style: none;
        color: white;
    }

}