/*colors*/
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$underline-color:#99E2D0;
$new-txt-color:#008766;
$text-btn-color:white;
$background-color-grey:#F6F6F6;
$background-color-grey2:#EAEAEA;
$background-color-cards: white;
$background-color-footer:#353535;
$icon-color: #7E7E7E;


/*text*/
$font-title:'Shrikhand', serif;
$font-primary:'Roboto', sans-serif;